/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  --blue: #3a80bc;
  --black: #0e0e0f;
  --white: #fff;
  --debug-width: 0px;
  --speed: 200ms;
}

html {
  background-color: #0b0813;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url("assets/Space.jpg");
  color: var(--white);
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

body {
  text-align: center;
}

strong {
  font-weight: inherit;
}

a,
button {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.waiting {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  overflow: hidden;
  padding: 3rem;
  letter-spacing: 0.07em;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.heading {
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 1.25;
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.newheader {
  align-items: center;
  border: var(--debug-width) solid blue;
  display: flex;
  height: 20vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale(calc(1 - calc(var(--factor) * 0.5)));
}

.text {
  background: linear-gradient(0deg, rgb(155 120 255 / 60%), rgb(47 0 181 / 60%)),
    linear-gradient(268.7deg, #bababa -9.86%, rgb(255 255 255 / 0%) 101.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.overlay {
  background: linear-gradient(180deg, #04010b 0%, #221641 100%), #0b0813;
  left: 0;
  opacity: 0.1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.logo img {
  height: 61.75px;
  width: 304.5px;
}

.tagline .flat {
  background: linear-gradient(
    268.7deg,
    #5b26de -9.86%,
    #871ff5 16.15%,
    #d24ff8 51.41%,
    #f337ee 74.52%,
    #ff6cd2 101.11%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 1.75em;
  text-fill-color: transparent;
  position: relative;
}

.tagline .flat-tagline-1 {
  background: linear-gradient(
    87.83deg,
    #f46722 -0.89%,
    #f51e6d 37.7%,
    #b30eab 71.16%,
    #dc0b8c 95.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition-delay: 0.2s;
}

.tagline .flat-tagline-2 {
  background: linear-gradient(
    87.83deg,
    #15e3d0 -0.89%,
    #3b7bea 45.14%,
    #523ce9 95.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition-delay: 0.4s;
}

.cta {
  position: relative;
}

.btn {
  --radius: 0.5em;
  --spacing: 2px;
  --alpha: 0.2;
  background: linear-gradient(
    87.83deg,
    #f46722 -0.89%,
    #f51e6d 12.17%,
    #b30eab 32.23%,
    #dc0b8c 49.84%,
    #523ce9 64.4%,
    #3b7bea 80.48%,
    #15e3d0 95.54%
  );
  border: none;
  border-radius: var(--radius);
  display: flex;
  padding: var(--spacing);
  transition-duration: 0.2s;
  transition-property: transform;
}

.btn .background {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("assets/Space.jpg");
  display: flex;
  border-radius: calc(var(--radius) - var(--spacing));
}

.btn .label {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: calc(var(--radius) - var(--spacing));
  display: flex;
  padding: 1em 1.5em;
  transition-duration: 1s;
  transition-property: background;
}

.btn:hover .label {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn:active {
  transform: translateY(1px);
}

.btn:label {
  background-color: rgba(0, 0, 0, 0.5);
}

.cat {
  --x: 1;
  bottom: 0;
  display: flex;
  right: 0;
  position: fixed;
  transform-origin: bottom right;
  transform: translate(
    calc(50% - calc(var(--x) * 50%)),
    calc(20% - calc(var(--x) * 20%))
  );
}

.cat figure {
  display: flex;
  transform: rotate(-45deg) translate(0%, 20%);
  transform-origin: center;
}

.cat img {
  flex-grow: 0;
  flex-shrink: 0;
  height: 278.25px;
  width: 269.5px;
}

/* New home */
.main {
  display: grid;
  position: relative;
  z-index: 3;
}

.section {
  align-content: center;
  display: grid;
  gap: 3rem;
  padding: 6rem 3rem;
}

.section.is-welcome,
.section.is-email {
  min-height: 100vh;
}

.email.content {
  justify-content: center;
  text-align: center;
}

.stop {
  gap: 6rem;
}

.stop .content {
  text-align: center;
}

.content {
  display: grid;
  font-size: 2em;
  gap: 1.5em;
  max-width: 24em;
  margin: 0 auto;
  text-align: left;
}

.perspective {
  perspective: 600px;
}

.flat {
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-style: preserve-3d;
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

span.flat {
  display: inline-block;
}

html.is-ready .flat {
  opacity: 1;
  transform: none;
  transition-duration: 0.8s;
}

.quote {
  max-width: 36em;
  margin: 0 auto;
  perspective: 100px;
  font-size: 1.25em;
}

.quote blockquote {
  background: linear-gradient(
    87.83deg,
    #f46722 -0.89%,
    #f51e6d 12.17%,
    #b30eab 32.23%,
    #dc0b8c 49.84%,
    #523ce9 64.4%,
    #3b7bea 80.48%,
    #15e3d0 95.54%
  );
  padding: 2em;
  font-size: 1.5em;
  transform-origin: bottom center;
  transform: rotateX(5deg);
  text-shadow: 0 0.5em 0.25em rgba(0, 0, 0, 0.2);
}

.quote div {
  background: linear-gradient(
    87.83deg,
    #f46722 -0.89%,
    #f51e6d 12.17%,
    #b30eab 32.23%,
    #dc0b8c 49.84%,
    #523ce9 64.4%,
    #3b7bea 80.48%,
    #15e3d0 95.54%
  );
  padding: 0.25em;
  transform-origin: top center;
  transform: rotateX(-5deg);
}

.quote div p {
  background: linear-gradient(180deg, #04010b 0%, #221641 100%), #0b0813;
  padding: 0.5em;
}

.messages {
  display: grid;
  gap: 20rem;
  justify-content: center;
  padding: 50vh 3rem;
}

.section {
  /*display: none;*/
}

.banner-container {
  position: relative;
  width: 100vw;
}

.banner {
  height: 24em;
}

.banner-body {
  background: linear-gradient(
    87.83deg,
    #f46722 -0.89%,
    #f51e6d 12.17%,
    #b30eab 32.23%,
    #dc0b8c 49.84%,
    #523ce9 64.4%,
    #3b7bea 80.48%,
    #15e3d0 95.54%
  );
  display: flex;
  font-size: 4em;
  gap: 2em;
  padding: 0.5em 50vw;
  font-weight: 700;
  justify-content: center;
  white-space: nowrap;
  text-transform: uppercase;
  left: -25vw;
  position: relative;
  transform: rotate(-5deg);
  width: 300vw;
}

.message {
  --factor: 0;
  --factor-invert: 1;
  --half: 0;
  --half-invert: 1;
  --third: 0;
  --third-invert: 1;
  --quarter: 0;
  --quarter-invert: 1;
  align-content: center;
  display: grid;
  font-size: 1.125em;
  gap: 1rem;
  padding: 6em 3em;
  position: relative;
  max-width: 36em;
  opacity: calc(var(--third));
}

.message-background-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.message-background {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.8)
  );
  background-image: linear-gradient(180deg, #04010b 0%, #221641 100%), #0b0813;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 1.25em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform-origin: top center;
  transform: scaleX(calc(1 + calc(0.25 * var(--factor))))
    scaleY(calc(1.5 - var(--factor)));
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.message h3 {
  font-size: 2em;
  position: relative;
  filter: blur(calc(var(--third-invert) * 1em));
  /*transform: scale(calc(1 + calc(0.25 * var(--factor))));*/
}

.content a,
.message p {
  background: linear-gradient(
    87.83deg,
    #f46722 -0.89%,
    #f51e6d 12.17%,
    #b30eab 32.23%,
    #dc0b8c 49.84%,
    #523ce9 64.4%,
    #3b7bea 80.48%,
    #15e3d0 95.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  text-fill-color: transparent;
}

.message p {
  font-size: 1.5em;
  filter: blur(calc(var(--third-invert) * 1em));
}

.content a:active {
  top: 1px;
}

.content a:hover::after {
  transform: scaleX(1);
}

.content a::after {
  background: linear-gradient(
    87.83deg,
    #f46722 -0.89%,
    #f51e6d 12.17%,
    #b30eab 32.23%,
    #dc0b8c 49.84%,
    #523ce9 64.4%,
    #3b7bea 80.48%,
    #15e3d0 95.54%
  );
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: center left;
  transition-duration: 0.4s;
  transition-property: transform;
  width: 100%;
}

@media (max-width: 800px) {
  .cat {
    z-index: 1;
  }

  .overlay {
    z-index: 2;
  }

  .message h3 {
    font-size: 1.25em;
  }

  .message p {
    font-size: 1.125em;
  }
}
